<?xml version="1.0" encoding="UTF-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!--  Api Repository  -->
    <type name="Magento\Catalog\Api\ProductRepositoryInterface">
        <plugin name="product_eco" type="My\Eco\Plugin\ProductRepository" sortOrder="1"/>
    </type>
    <preference for="My\Eco\Api\Data\EcoInterface" type="My\Eco\Model\Eco"/>
    <preference for="My\Eco\Api\EcoRepositoryInterface" type="My\Eco\Model\EcoRepository"/>

    <!-- Console -->
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="my_eco_console" xsi:type="object">My\Eco\Console\Command\Eco</item>
            </argument>
        </arguments>
    </type>

    <!-- Custom logger -->
    <virtualType name="My\Eco\Model\Method\Debug" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="fileName" xsi:type="string">/var/log/eco.log</argument>
        </arguments>
    </virtualType>
    <virtualType name="My\Eco\Model\Method\Logger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="debug" xsi:type="object">My\Eco\Model\Method\Debug</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="My\Eco\Console\Command\Eco">
        <arguments>
            <argument name="logger" xsi:type="object">My\Eco\Model\Method\Logger</argument>
        </arguments>
    </type>
    <type name="My\Eco\Cron\Eco">
        <arguments>
            <argument name="logger" xsi:type="object">My\Eco\Model\Method\Logger</argument>
        </arguments>
    </type>
</config>